<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title><%= manifestConfiguration['summary'] %></title>
    <link rel="stylesheet" href="assets/styles/normalize.min.css"/>
    <link rel="stylesheet" href="assets/styles/foundation.min.css"/>
    <link rel="stylesheet" href="assets/styles/main.css"/>
</head>
<body>

<div class="row valign-middle">
    <div class="large-12 small-12 valign-middle">
        <div class="large-9 small-6 columns">
            <h1><%= manifestConfiguration['summary'] %></h1>
        </div>
        <div class="large-3 small-6 columns logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="47.4 864.1 500 155" enable-background="new 47.4 864.1 500 155" xml:space="preserve">
                <path fill="#FFFFFF" d="M54.3,895.7H67l0.4,7.1c4.6-5.2,12.1-9.7,20.4-9.7c11.1,0,16.6,5.2,16.6,17.1c0,2.4-0.2,4.8-0.6,8.6l-3.6,34.2H84.6l3.4-33c0.4-3.4,0.6-5.5,0.6-7.7c0-4.6-1.8-6.6-5.5-6.6c-4.8,0-10.9,4.8-15.8,11.3L63.6,954H48.1L54.3,895.7z M167.5,908.5c0,14.5-10.7,21-35.4,21.2v0.8c0,8.5,3.1,11.9,10.2,11.9c6.1,0,11.4-0.8,17.5-2.4l1.2,11.7c-5.5,1.8-12.7,2.8-20.6,2.8c-17.2,0-24.2-7.3-24.2-23.8c0-2.2,0-4.6,0.4-6.9c2.2-21.8,13.2-31.5,30.2-31.5C160.6,892.2,167.5,898.7,167.5,908.5 M145.4,904.1c-7.3,0-11.1,5-12.9,14.9c15.1-0.2,19.6-3.4,19.6-9.1C152.3,906.5,149.8,904.1,145.4,904.1 M229.2,916.4c0,1.6,0,3.4-0.4,6.9c-2.2,22.6-12.9,31.5-30.1,31.5c-16.6,0-24.2-7.9-24.2-24.4c0-1.6,0-3.4,0.4-6.9c2.2-22.6,12.9-31.5,30.1-31.5C221.3,892.2,229.2,899.9,229.2,916.4 M213.4,916.8c0-9.3-3-12.5-9.5-12.5c-7.1,0-11.7,4.2-13.5,19.4c-0.4,3.2-0.4,4.4-0.4,6.7c0,9.3,3,12.5,9.5,12.5c7.1,0,11.7-4.2,13.5-19.4C213.4,920.2,213.4,919,213.4,916.8 M262.7,905.5h11.1l1.2-9.9h-11.1l0.8-8.4c0.8-6.9,3.4-10.1,10.1-10.1c1.6,0,3-0.2,4.4,0c0.2-3.2,0.6-7.9,1-12.1c-2-0.2-4-0.4-6.3-0.4c-15.8,0-23.2,6.1-25,24.2l-0.6,6.9h-10.3l-1.2,9.9H247l-5.7,48.5h15.5L262.7,905.5z M332,916.4c0,1.6,0,3.4-0.4,6.9c-2.2,22.6-12.9,31.5-30.1,31.5c-16.6,0-24.2-7.9-24.2-24.4c0-1.6,0-3.4,0.4-6.9c2.2-22.6,12.9-31.5,30.1-31.5C324.1,892.2,332,899.9,332,916.4 M316.2,916.8c0-9.3-3-12.5-9.5-12.5c-7.1,0-11.7,4.2-13.5,19.4c-0.4,3.2-0.4,4.4-0.4,6.7c0,9.3,3.2,12.5,9.5,12.5c7.1,0,11.7-4.2,13.5-19.4C316.2,920.2,316.2,919,316.2,916.8 M341.9,954h15.5l3.8-37.1c4.8-6.5,10.9-11,15.8-11c3.6,0,5.5,1.8,5.5,6.4c0,2.2-0.2,4.8-0.6,8.2l-3.4,33.4H394l3.6-34.8c0.4-3.8,0.6-6.5,0.6-8.9c0-11.9-5.5-17.6-16.6-17.6c-8.3,0-15.8,4.3-20.4,9.6l-0.4-7.6h-12.7L341.9,954z M410.1,954h15.5l6.3-58.4h-15.5L410.1,954z M435.6,871.2c0-5-1.6-7.1-8.5-7.1s-9.3,1.8-10.1,7.5c-0.2,0.8-0.2,2.2-0.2,3.4c0,5,1.6,7.1,8.5,7.1c6.9,0,9.3-1.8,10.1-7.5C435.4,873.8,435.6,872.4,435.6,871.2 M493.3,908.5c0,14.5-9.8,21-35.5,21.2v0.8c0,8.5,3.4,11.9,10.5,11.9c6.1,0,11.5-0.8,17.6-2.4l1.3,11.7c-5.5,1.8-12.8,2.8-20.6,2.8c-17.2,0-24.3-7.3-24.3-23.8c0-2.2,0.2-4.6,0.4-6.9c2.2-21.8,13.1-31.5,30.1-31.5C486.7,892.2,493.3,898.7,493.3,908.5 M471.7,904.1c-7.3,0-11.1,5-12.9,14.9c15.1-0.2,19.6-3.4,19.6-9.1C478.4,906.5,476,904.1,471.7,904.1 M501.8,894.6l4.6,8.9l11.7-6.5l-1.4,14.5h11.1l1-14.3l11.1,7.7l6.1-9.1l-12.1-7.3l13.5-6.5l-4.6-9.1l-12.3,6.7l2-14.7h-11.1l-1.4,14.1l-10.9-7.6l-6.1,9.1l12.1,7.5L501.8,894.6z M71.9,1017.3h3.4l-1.6-26.7h-4.4l-4.8,13.4c-1.2,3.4-2.2,7.4-2.8,9.4h-0.4c-0.6-2-1.6-5.9-2.8-9.4l-4.6-13.4h-4.4l-1.8,26.7h3.4l0.8-10.9c0.2-4,0.4-7.3,0.6-11.3l0,0c0.8,4,1.8,6.1,3.2,9.9l4.4,12.3h2.6l4.8-12.8c1.4-3.8,2.4-6,3.4-10h0.2c0,4,0.2,7.3,0.4,11.2L71.9,1017.3z M89.9,998.5c-5.5,0-9.7,3.8-9.7,10.5c0,6.3,4,10.1,9.5,10.1c4.8,0,9.9-3.2,9.9-10.5C99.3,1002.8,95.5,998.5,89.9,998.5z M89.9,1001.2c4.2,0,5.9,4.2,5.9,7.7c0,4.4-2.6,7.7-6.1,7.7s-6.1-3.2-6.1-7.7C83.8,1005.2,85.6,1001.2,89.9,1001.2z M107.8,1017.3l0.2-2h0.2c1.4,2,3.8,3.8,6.7,3.8c4.4,0,8.9-3.4,8.9-10.5c0-6.1-3.4-10.8-8.3-10.8c-3.2,0-5.5,1.7-6.7,2.7h-0.5v-11.9h-2v25c0,1.8-1.6,3.7-1.6,3.7H107.8z M107.6,1007.4c0-1,0.6-1.1,0.6-1.5c0.8-2.8,3.2-4.5,5.7-4.5c3.8,0,6.1,3.4,6.1,7.2c0,4.4-2.2,7.7-5.9,7.7c-2.6,0-4.8-1.6-5.4-4.2c0-0.4-0.3-0.8-0.3-1.2v-3.4H107.6z M130.8,991.3c-1.2,0-2.2,1-2.2,2.2c0,1.2,0.8,2.2,2.2,2.2c1.4,0,2.2-1,2.2-2.2C133.1,992.3,132.1,991.3,130.8,991.3z M132.1,1017.3v-18.8h-2v18.8H132.1z M140.1,1017.3h2v-28.7h-2V1017.3z M166.8,1009.2c0,0-0.3-0.8-0.3-1.4c0-3.6-1.9-9.3-8.3-9.3c-5.7,0-9.4,4.8-9.4,10.7c0,6.1,3.6,9.9,9.6,9.9c3.2,0,5.2-0.6,6.4-1.2l-0.6-2.6c-1.4,0.6-2.8,0.5-5.5,0.5c-3.6,0-6.7-0.4-6.7-7.4h14.7V1009.2z M152.1,1007.4c0.2-2,1.8-5.9,5.5-5.9c4,0,5,3.9,5,5.9H152.1z"/></svg>
            </svg>
        </div>
    </div>
</div>
<hr>
<div class="wrapper">
<div class="row" id="header">
    <div class="large-12 small-12">
        <h2><%= projectName %></h2>
        <h3 class="subheader"><%= manifestConfiguration['recipient']['title'] %></h3>
    </div>
</div>
</div>
<hr>
<div class="row" id="content">
    <div class="large-centered columns">

        <% _.each(binaryResults, function(binary) { %>

        <!-- App Template-->
        <div class="large-4 small-6 columns">

            <a href="<%= binary['url'] %>">
                <div class="icon">
                    <div class="icon-inside">
                        <img src="<%= binary['icon'] %>">
                    </div>
                </div>
            </a>

            <div class="panel">
                <h5 class="subheader"><%= binary['name'] %></h5>
                <h6 class="version"><%= binary['version'] %></h6>
                <h6 class="date"><%= dateTime %></h6>
            </div>
        </div>

        <!-- /App Template -->
        <% }); %>

    </div>
</div>
<hr/>
<div class="wrapper">
<div class="row" id="footer">
    <div class="small-12 large-centered columns">
        <div class="small-6 large-6 columns left">
            <ul class="inline-list left">
                <li><a target="_new" href="<%= manifestConfiguration['author']['website'] %>"><%= manifestConfiguration['author']['title'] %></a></li>
            </ul>
        </div>
        <div class="small-6 large-6 columns right">
            <ul class="inline-list right">
                <% _.each(manifestConfiguration['author']['meta'], function(value) { %>
                <li><a target="_new" href="<%= value.href %>"><%= value.title %></a></li>
                <% }) %>
            </ul>
        </div>
     </div>
</div>
</div>
</body>
</html>
