hr {
    border: 1px solid #d2d2d2;
    margin: 0;
    border-bottom: none;
}

a:link, a:hover, a:visited {
    color: #E60023 !important;
}

h1 {
   white-space: nowrap;
  color: #5A5050;
  font-size: 1.1em;
  line-height: 2.0em;
  font-weight: normal;
  margin: 0;
}

h2, h3 {
    text-align: center;
    font-weight: normal;
}

h5 {
    font-weight: normal;
}

h5.subheader {
  font-size: 1.5em;
  color: #000;
}

.version {
    line-height: 1em !important;
  font-size: 0.8em;
  color: #808080 !important;
}

.date {
line-height: 1em !important;
  font-size: 0.8em;
  color: #808080 !important;
}

.row {
    margin-top: 1em;
    display: table;
    margin-bottom: 1em;
}

.panel {
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 98%);
    padding: 1.0em;
    margin-top: 0.5em;
}

#header, #footer {
    margin-top: 0;
    margin-bottom: 0;
}

#header {
    padding: 0.5em;
}

#footer p, #footer li {
  font-size: 1em;
  padding: 0.5em 0 0.5em 0;
}

.wrapper {
    background-color: #f5f5f5;
}

#content {
	overflow: hidden;
	text-overflow: ellipsis;
	border: none;
	padding: 1em 0;
    line-height: 1.2em;
    text-align: center;
}

.icon {
    position: relative;
}

.icon:before {
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

.icon-inside {
    border-radius: 5px;
    padding: 0;
    box-sizing: border-box;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    height: auto;
    width: 100%;
}

.icon-inside img {
    width: 100%;
    height: auto;
}

.icon-inside.ios {
    border-radius: 20%;
}

.icon-inside.android {
    border-radius: 13%;
}

.inline-list > li {
  float: right;
    text-align: right;
}

.logo {
    border-radius: 5px;
    background-color: #E60023;
    width: 15%;
}

.logo svg {
      margin: 10% 5%;
}

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns, .valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}
